*{
    margin: 0;
    padding: 0;
}
.main{
    height: 725px;
    width: 100%;
    background-image: url("background3.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
    height:70%;
    width: 35%;
    border: 2px solid rgb(106, 118, 28);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    -webkit-box-shadow:24px 29px 27px 9px rgba(0, 0, 0, 0.634);
    -moz-box-shadow: 24px 29px 27px 9px rgba(0, 0, 0, 0.655);
    box-shadow: 24px 29px 27px 9px rgba(0, 0, 0, 0.648);
    backdrop-filter: blur(10px);
    background-color: #00000042;
    max-width: 80%;
}
span{
  font-family:Bradley Hand ITC;
  color:rgb(194, 230, 143);
  font-size:40px;
  font-weight: 1000;
}
.input p{
    font-size: 25px;
    font-weight: 600; 
    color:darkgray;
    font-family: Poor Richard;
}
.input{
    width:100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}
.input input{
    height:100px;
    width: 80%;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 1rem;
    background-color:#caf0f8;
}
.options{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.opt1{
    border: 2px solid black;
    border-radius: 8px;
    height: 40px;
    width: 40%;
    display: flex;
    background-color: white;
    border: 2px solid rgb(106, 118, 28);
    
}
.opt1 select{
    width: 100%;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    background-color:#caf0f8;
}
.opt1 img{
    width: 100px;
    background-color:#caf0f8;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
i{
  color:rgb(194, 230, 143) ;
  font-size: 1.5rem;
}
i:hover{
  color: rgb(18, 158, 13);
}
i:active{
  color:#E63946;
}
#result{
    width: 70%;
    color: #fff;
    display:none;
    justify-content: center;
    background-color: #e63946;
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 9px;
    font-family:Bahnschrift SemiLight;
}

.btn-70,
.btn-70 *,
.btn-70 :after,
.btn-70 :before,
.btn-70:after,
.btn-70:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-70 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-70:disabled {
  cursor: default;
}
.btn-70:-moz-focusring {
  outline: auto;
}
.btn-70 svg {
  display: block;
  vertical-align: middle;
}
.btn-70 [hidden] {
  display: none;
}
.btn-70 {
  box-shadow: inset 0 0 0 2px 
#fff;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn-70:after,
.btn-70:before {
  content: "";
  position: absolute;
}
.btn-70:before {
  border-bottom: var(--border);
  border-top: var(--border);
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.btn-70:hover:before {
  --border: 4px solid 
#000;
  -webkit-animation: border-top-and-bottom 1s forwards;
  animation: border-top-and-bottom 1s forwards;
}
.btn-70:after {
  border-left: var(--border);
  border-right: var(--border);
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  width: 100%;
  z-index: -1;
}
.btn-70:hover:after {
  --border: 4px solid 
#000;
  -webkit-animation: border-right-and-left 1s forwards;
  animation: border-right-and-left 1s forwards;
}
@-webkit-keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
footer{
    height: 50px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
}
@media screen and (max-width:992px)
{
    .inner{
        width: 80%;
        min-height: calc(100);
    }
}
@media screen and (max-width:450px)
{
    .inner{
        width: 80%;
    }
    span{
      font-size: 30px;
    }
}
